<%-include('../includes/auth/authHead.ejs')%>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form
        class="login100-form validate-form"
        action="<%if(resetPassword){%>/auth/resetPassword<%}else{%>/auth/emailVerify<%}%>"
        method="POST"
      >
        <span class="login100-form-title p-b-70"> Change Password </span>
        <!-- This is for email or new password -->
        <div
          class="wrap-input100 validate-input m-t-85 m-b-35"
          data-validate="Enter Email"
        >
          <input
            class="input100"
            type="text"
            name="<%if(resetPassword){%>newPassword<%}else{%>email<%}%>"
          />
          <span
            class="focus-input100"
            data-placeholder="<%if(resetPassword){%>New Password<%}else{%>Email<%}%>"
          ></span>
        </div>
        <!-- This is for confirm password -->
        <%if(resetPassword){%>
        <div
          class="wrap-input100 validate-input m-t-85 m-b-35"
          data-validate="Enter password"
        >
          <input class="input100" type="text" name="confirmPassword" />
          <span
            class="focus-input100"
            data-placeholder="Confirm Password"
          ></span>
        </div>
        <%}%>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">Reset Password</button>
        </div>
        <input type="hidden" name="token" value="<%= token%>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
<%- include('../includes/auth/authEnd.ejs')%>
