<%-include('../includes/auth/authHead.ejs')%>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form class="login100-form validate-form" action="/auth" method="POST">
        <span class="login100-form-title p-b-70"> Login </span>
        <span class="login100-form-avatar">
          <img src="images/avatar-01.jpg" alt="AVATAR" />
        </span>

        <div
          class="wrap-input100 validate-input m-t-85 m-b-35"
          data-validate="Enter username"
        >
          <input class="input100" type="text" name="email" />
          <span class="focus-input100" data-placeholder="Username"></span>
        </div>

        <div
          class="wrap-input100 validate-input m-b-50"
          data-validate="Enter password"
        >
          <input class="input100" type="password" name="password" />
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>
        <center><h4 style="color: red"><%=errorMessage%></h4></center>
        <br />
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">Login</button>
        </div>
        <br />
        <br />
        <span class="txt1"> Forgot </span>
        <a href="/auth/emailVerify" class="txt2"> Username / Password? </a>
        <br />
        <span class="txt1"> Don’t have an account? </span>
        <a href="/auth/signup" class="txt2"> Sign up </a>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
<%- include('../includes/auth/authEnd.ejs')%>
