<%-include('../includes/auth/authHead.ejs')%>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
          <form class="login100-form validate-form" action="/auth/signup" method="POST" novalidate>
            <span class="login100-form-title p-b-70"> Sign Up </span>
            <span class="login100-form-avatar">
              <img src="images/avatar-01.jpg" alt="AVATAR" />
            </span>

            <div
              class="wrap-input100 validate-input m-t-85 m-b-35"
              data-validate="Enter name"
            >
              <input class="input100" type="text" name="name" />
              <span class="focus-input100" data-placeholder="Name"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-50"
              data-validate="Enter email"
            >
              <input class="input100" type="email" name="email" />
              <span class="focus-input100" data-placeholder="Email"></span>
            </div>
            <div
              class="wrap-input100 validate-input m-b-50"
              data-validate="Enter password"
            >
              <input class="input100" type="password" name="password" />
              <span class="focus-input100" data-placeholder="Password"></span>
            </div>
            <div
              class="wrap-input100 validate-input m-b-50"
              data-validate="Confirm password"
            >
              <input class="input100" type="password" name="confirmPassword" />
              <span class="focus-input100" data-placeholder="Confirm Password"></span>
            </div>
            <center><h3 style="color: red;"><%= errorMessage%></h3></center>
            <br>
            <div class="container-login100-form-btn">
              <button class="login100-form-btn">Sign Up</button>
            </div>
            <br>
            <center>
                <span class="txt1"> Back to </span>
                <a href="/" class="txt2"> login </a>
            </center>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>" />

          </form>
        </div>
      </div>
    </div>

    <div id="dropDownSelect1"></div>
    <%- include('../includes/auth/authEnd.ejs')%>
  </body>
</html>
