<%- include('../includes/admin/adminHead.ejs')%>
<!-- Start Welcome area -->
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="index.html"
            ><img class="main-logo" src="/img_admin_panel/logo/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-advance-area">
    <div class="header-top-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="header-top-wraper">
              <div class="row">
                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                  <div class="menu-switcher-pro">
                    <button
                      type="button"
                      id="sidebarCollapse"
                      class="
                        btn
                        bar-button-pro
                        header-drl-controller-btn
                        btn-info
                        navbar-btn
                      "
                    >
                      <i class="icon nalika-menu-task"></i>
                    </button>
                  </div>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                  <div class="header-top-menu tabl-d-n">
                    <div class="breadcome-heading">
                      <form role="search" class="">
                        <input
                          type="text"
                          placeholder="Search..."
                          class="form-control"
                        />
                        <a href=""><i class="fa fa-search"></i></a>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                  <div class="header-right-info">
                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                      <li class="nav-item">
                        <a
                          href="#"
                          data-toggle="dropdown"
                          role="button"
                          aria-expanded="false"
                          class="nav-link dropdown-toggle"
                        >
                          <span class="admin-name">Pema Ngodup</span>
                          <i
                            class="
                              icon
                              nalika-down-arrow nalika-angle-dw nalika-icon
                            "
                          ></i>
                        </a>
                        <ul
                          role="menu"
                          class="
                            dropdown-header-top
                            author-log
                            dropdown-menu
                            animated
                            zoomIn
                          "
                        >
                          <li>
                            <a href="register.html"
                              ><span
                                class="icon nalika-home author-log-ic"
                              ></span>
                              Register</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><span
                                class="icon nalika-user author-log-ic"
                              ></span>
                              My Profile</a
                            >
                          </li>
                          <li>
                            <a href="lock.html"
                              ><span
                                class="icon nalika-diamond author-log-ic"
                              ></span>
                              Lock</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><span
                                class="icon nalika-settings author-log-ic"
                              ></span>
                              Settings</a
                            >
                          </li>
                          <li>
                            <a href="login.html"
                              ><span
                                class="icon nalika-unlocked author-log-ic"
                              ></span>
                              Log Out</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mobile-menu">
              <nav id="dropdown">
                <ul class="mobile-menu-nav">
                  <%- include('../includes/admin/mobileHead.ejs')%>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu end -->
    <div class="breadcome-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcome-list">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="breadcomb-wp">
                    <div class="breadcomb-icon">
                      <i class="icon nalika-home"></i>
                    </div>
                    <div class="breadcomb-ctn">
                      <h2>Add Bus</h2>
                      <p>
                        Add bus
                        <span class="bread-ntd">detail here.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single pro tab start-->
  <div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-tab-pro-inner">
              <form
                action="<%if(editing){%>/admin/post-edit<%}else {%>/admin/add-bus<%}%>"
                method="POST"
              >
                <ul id="myTab3" class="tab-review-design">
                  <li class="active">
                    <a href="#description"
                      ><i class="icon nalika-edit" aria-hidden="true"></i> Add
                      Bus
                    </a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content custom-product-edit">
                  <div
                    class="product-tab-list tab-pane fade active in"
                    id="description"
                  >
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="review-content-section">
                          <div class="input-group mg-b-pro-edt">
                            <span class="input-group-addon"
                              ><i
                                class="icon nalika-user"
                                aria-hidden="true"
                              ></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Bus Name"
                              name="busName"
                              value="<%if(editing){%><%=updatedBus.busName%><%}%>"
                            />
                          </div>
                          <div class="input-group mg-b-pro-edt">
                            <span class="input-group-addon"
                              ><i
                                class="icon nalika-edit"
                                aria-hidden="true"
                              ></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Bus Number"
                              name="busNumber"
                              value="<%if(editing){%><%=updatedBus.busNumber%><%}%>"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="review-content-section">
                          <div class="input-group mg-b-pro-edt">
                            <span class="input-group-addon"
                              ><i class="fa fa-usd" aria-hidden="true"></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Bus Plate No."
                              name="busPlateNumber"
                              value="<%if(editing){%><%=updatedBus.busPlateNumber%><%}%>"
                            />
                          </div>
                          <div class="input-group mg-b-pro-edt">
                            <span class="input-group-addon"
                              ><i
                                class="icon nalika-new-file"
                                aria-hidden="true"
                              ></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Capacity"
                              name="capacity"
                              value="<%if(editing){%><%=updatedBus.capacity%><%}%>"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <%if(editing){%>
                    <input
                      name="busId"
                      value="<%if(editing){%><%=updatePurposeBus[0].id%><%}%>"
                      type="hidden"
                    />
                    <%}%>
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
                    <center>
                      <% if(errorMessage != null){%>
                      <h4
                        style="
                          color: red;
                          border: red;
                          padding: 15px;
                          background-color: white;
                        "
                      >
                        <%=errorMessage%>
                      </h4>
                      <% } %>
                    </center>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center custom-pro-edt-ds">
                          <button
                            onclick="alert()"
                            type="submit"
                            class="
                              btn btn-ctl-bt
                              waves-effect waves-light
                              m-r-10
                            "
                          >
                            <%if(editing){%>Update<%}else{%> Save <%}%>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section for list of added bus -->
  <div class="product-status mg-b-30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-status-wrap">
            <h4>Bus List</h4>

            <table>
              <tr>
                <th>Id</th>
                <th>Bus Name</th>
                <th>Bus Plate Number</th>
                <th>Bus Number</th>
                <th>Capacity</th>
              </tr>
              <%bus.forEach((element, index, array) => {%>
              <tr>
                <td><%= element.id%></td>
                <td><%= element.busName%></td>
                <td><%= element.busPlateNumber%></td>
                <td><%= element.busNumber%></td>
                <td><%= element.capacity%></td>

                <td>
                  <form action="/admin/edit-bus/<%= element.id%>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
                    <button
                      data-toggle="tooltip"
                      title="Edit"
                      class="pd-setting-ed"
                    >
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                  </form>
                </td>
                <td>
                  <form action="/admin/delete-bus/<%= element.id%>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>" />

                    <button
                      data-toggle="tooltip"
                      title="Trash"
                      class="pd-setting-ed"
                    >
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                  </form>
                </td>
              </tr>
              <%})%>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of list of bus -->
  <div class="footer-copyright-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copy-right">
            <p>
              Copyright © 2018
              <a href="https://colorlib.com/wp/templates/">Colorlib</a> All
              rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/admin/adminTail.ejs')%>
