<%- include('../includes/admin/adminHead.ejs')%>

<!-- Start Welcome area -->
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="/admin/dashboard"
            ><img class="main-logo" src="img_admin_panel/logo/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-advance-area">
    <div class="header-top-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="header-top-wraper">
              <div class="row">
                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                  <div class="menu-switcher-pro">
                    <button
                      type="button"
                      id="sidebarCollapse"
                      class="
                        btn
                        bar-button-pro
                        header-drl-controller-btn
                        btn-info
                        navbar-btn
                      "
                    >
                      <i class="icon nalika-menu-task"></i>
                    </button>
                  </div>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                  <div class="header-top-menu tabl-d-n">
                    <div class="breadcome-heading">
                      <form role="search" class="">
                        <input
                          type="text"
                          placeholder="Search..."
                          class="form-control"
                        />
                        <a href=""><i class="fa fa-search"></i></a>
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken%>"
                        />
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                  <div class="header-right-info">
                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                      <li class="nav-item">
                        <a
                          href="#"
                          data-toggle="dropdown"
                          role="button"
                          aria-expanded="false"
                          class="nav-link dropdown-toggle"
                        >
                          <i
                            class="
                              icon
                              nalika-user nalika-user-rounded
                              header-riht-inf
                            "
                            aria-hidden="true"
                          ></i>
                          <span class="admin-name">Pema Ngodup</span>
                          <i
                            class="
                              icon
                              nalika-down-arrow nalika-angle-dw nalika-icon
                            "
                          ></i>
                        </a>
                        <ul
                          role="menu"
                          class="
                            dropdown-header-top
                            author-log
                            dropdown-menu
                            animated
                            zoomIn
                          "
                        >
                          <li>
                            <a href="register.html"
                              ><span
                                class="icon nalika-home author-log-ic"
                              ></span>
                              Register</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><span
                                class="icon nalika-user author-log-ic"
                              ></span>
                              My Profile</a
                            >
                          </li>
                          <li>
                            <a href="lock.html"
                              ><span
                                class="icon nalika-diamond author-log-ic"
                              ></span>
                              Lock</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><span
                                class="icon nalika-settings author-log-ic"
                              ></span>
                              Settings</a
                            >
                          </li>
                          <li>
                            <a href="login.html"
                              ><span
                                class="icon nalika-unlocked author-log-ic"
                              ></span>
                              Log Out</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mobile-menu">
              <nav id="dropdown">
                <ul class="mobile-menu-nav">
                  <%- include('../includes/admin/mobileHead.ejs')%>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu end -->
    <div class="breadcome-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcome-list">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="breadcomb-wp">
                    <div class="breadcomb-icon">
                      <i class="icon nalika-home"></i>
                    </div>
                    <div class="breadcomb-ctn">
                      <h2>Dashboard</h2>
                      <p>
                        Welcome
                        <span class="bread-ntd">Admin Template</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-admin container-fluid res-mg-t-15">
    <div class="row admin text-center">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="admin-content analysis-progrebar-ctn">
              <h4 class="text-left text-uppercase"><b>Total Reservation</b></h4>
              <div class="row vertical-center-box vertical-center-box-tablet">
                <div class="col-xs-9 cus-gh-hd-pro">
                  <h2 class="text-right no-margin"><%=reservation%></h2>
                </div>
              </div>
              <div class="progress progress-mini">
                <div style="width: 78%" class="progress-bar bg-green"></div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
            style="margin-bottom: 1px"
          >
            <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
              <h4 class="text-left text-uppercase"><b>Total Bus</b></h4>
              <div class="row vertical-center-box vertical-center-box-tablet">
                <div class="col-xs-9 cus-gh-hd-pro">
                  <h2 class="text-right no-margin"><%=totalBus%></h2>
                </div>
              </div>
              <div class="progress progress-mini">
                <div
                  style="width: 38%"
                  class="progress-bar progress-bar-danger bg-red"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-sales-area mg-tb-30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-sales-chart">
            <div class="portlet-title">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="caption pro-sl-hd">
                    <span class="caption-subject text-uppercase"
                      ><b>Product Sales</b></span
                    >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="actions graph-rp">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-grey active">
                        <input
                          type="radio"
                          name="options"
                          class="toggle"
                          id="option1"
                          checked=""
                        />Today</label
                      >
                      <label class="btn btn-grey">
                        <input
                          type="radio"
                          name="options"
                          class="toggle"
                          id="option2"
                        />Week</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              id="curved-line-chart"
              class="flot-chart-sts flot-chart curved-chart-statistic"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copy-right">
            <p>
              Copyright © 2018
              <a href="https://colorlib.com/wp/templates/">Colorlib</a> All
              rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/admin/adminTail.ejs')%>
