<%- include('../includes/admin/adminHead.ejs')%>
<!-- Start Welcome area -->
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="/admin/dashboard"
            ><img class="main-logo" src="img/logo/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-advance-area">
    <div class="header-top-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="header-top-wraper">
              <div class="row">
                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                  <div class="menu-switcher-pro">
                    <button
                      type="button"
                      id="sidebarCollapse"
                      class="
                        btn
                        bar-button-pro
                        header-drl-controller-btn
                        btn-info
                        navbar-btn
                      "
                    >
                      <i class="icon nalika-menu-task"></i>
                    </button>
                  </div>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                  <div class="header-top-menu tabl-d-n">
                    <div class="breadcome-heading">
                      <form role="search" class="">
                        <input
                          type="text"
                          placeholder="Search..."
                          class="form-control"
                        />
                        <a href=""><i class="fa fa-search"></i></a>
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken%>"
                        />
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                  <div class="header-right-info">
                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                      <li class="nav-item">
                        <a
                          href="#"
                          data-toggle="dropdown"
                          role="button"
                          aria-expanded="false"
                          class="nav-link dropdown-toggle"
                        >
                          <i
                            class="
                              icon
                              nalika-user nalika-user-rounded
                              header-riht-inf
                            "
                            aria-hidden="true"
                          ></i>
                          <span class="admin-name">Pema Ngodup </span>
                        </a>
                        <ul
                          role="menu"
                          class="
                            dropdown-header-top
                            author-log
                            dropdown-menu
                            animated
                            zoomIn
                          "
                        >
                          <li>
                            <a href="register.html"
                              ><span
                                class="icon nalika-home author-log-ic"
                              ></span>
                              Register</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><span
                                class="icon nalika-user author-log-ic"
                              ></span>
                              My Profile</a
                            >
                          </li>
                          <li>
                            <a href="lock.html"
                              ><span
                                class="icon nalika-diamond author-log-ic"
                              ></span>
                              Lock</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><span
                                class="icon nalika-settings author-log-ic"
                              ></span>
                              Settings</a
                            >
                          </li>
                          <li>
                            <a href="login.html"
                              ><span
                                class="icon nalika-unlocked author-log-ic"
                              ></span>
                              Log Out</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mobile-menu">
              <nav id="dropdown">
                <ul class="mobile-menu-nav">
                  <%- include('../includes/admin/mobileHead.ejs')%>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu end -->
    <div class="breadcome-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcome-list">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="breadcomb-wp">
                    <div class="breadcomb-icon">
                      <i class="icon nalika-home"></i>
                    </div>
                    <div class="breadcomb-ctn">
                      <h2>Schedule List</h2>
                      <p>
                        List of
                        <span class="bread-ntd">Schedule</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-status mg-b-30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-status-wrap">
            <h4>List of schedule</h4>
            <div class="add-product">
              <a href="/admin/add-schedule">Add Schedule</a>
            </div>

            <table>
              <tr>
                <th>Id</th>
                <th>Schedule Date</th>
                <th>Bus Id</th>
                <th>Starting Point</th>
                <th>Destination</th>
                <th>Departure Time</th>
                <th>Estimated Arrival Time</th>
                <th>Price</th>
              </tr>
              <% for(let i = 0; i< sch.length; i++) {%>
              <tr>
                <td><%=sch[i].id%></td>
                <td><%=sch[i].date%></td>
                <td><%=sch[i].busId%></td>
                <td><%=sch[i].startingPoint%></td>
                <td><%=sch[i].destination%></td>
                <td><%=sch[i].departureTime%></td>
                <td><%=sch[i].estimatedArrivalTime%></td>
                <td>Rs. <%=sch[i].price%></td>
                <td>
                  <form action="/admin/edit-schedule/<%=sch[i].id%>">
                    <button
                      data-toggle="tooltip"
                      title="Edit"
                      class="pd-setting-ed"
                    >
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
                  </form>
                </td>

                <td>
                  <form action="/admin/delete-schedule/<%=sch[i].id%>">
                    <button
                      data-toggle="tooltip"
                      title="Trash"
                      class="pd-setting-ed"
                    >
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
                  </form>
                </td>
              </tr>
              <%}%>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copy-right">
            <p>
              Copyright © 2018
              <a href="https://colorlib.com/wp/templates/">Colorlib</a> All
              rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/admin/adminTail.ejs')%>
