<%- include('../includes/admin/adminHead.ejs')%>
<!-- Start Welcome area -->
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href="/admin/dashboard"
            ><img class="main-logo" src="img/logo/logo.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-advance-area">
    <div class="header-top-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="header-top-wraper">
              <div class="row">
                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                  <div class="menu-switcher-pro">
                    <button
                      type="button"
                      id="sidebarCollapse"
                      class="
                        btn
                        bar-button-pro
                        header-drl-controller-btn
                        btn-info
                        navbar-btn
                      "
                    >
                      <i class="icon nalika-menu-task"></i>
                    </button>
                  </div>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                  <div class="header-top-menu tabl-d-n">
                    <div class="breadcome-heading">
                      <form role="search" class="">
                        <input
                          type="text"
                          placeholder="Search..."
                          class="form-control"
                        />
                        <a href=""><i class="fa fa-search"></i></a>
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken%>"
                        />
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                  <div class="header-right-info">
                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                      <li class="nav-item">
                        <a
                          href="#"
                          data-toggle="dropdown"
                          role="button"
                          aria-expanded="false"
                          class="nav-link dropdown-toggle"
                        >
                          <i
                            class="
                              icon
                              nalika-user nalika-user-rounded
                              header-riht-inf
                            "
                            aria-hidden="true"
                          ></i>
                          <span class="admin-name">Pema Ngodup </span>
                        </a>
                        <ul
                          role="menu"
                          class="
                            dropdown-header-top
                            author-log
                            dropdown-menu
                            animated
                            zoomIn
                          "
                        >
                          <li>
                            <a href="register.html"
                              ><span
                                class="icon nalika-home author-log-ic"
                              ></span>
                              Register</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><span
                                class="icon nalika-user author-log-ic"
                              ></span>
                              My Profile</a
                            >
                          </li>
                          <li>
                            <a href="lock.html"
                              ><span
                                class="icon nalika-diamond author-log-ic"
                              ></span>
                              Lock</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><span
                                class="icon nalika-settings author-log-ic"
                              ></span>
                              Settings</a
                            >
                          </li>
                          <li>
                            <a href="login.html"
                              ><span
                                class="icon nalika-unlocked author-log-ic"
                              ></span>
                              Log Out</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mobile-menu">
              <nav id="dropdown">
                <ul class="mobile-menu-nav">
                  <%- include('../includes/admin/mobileHead.ejs')%>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu end -->
    <div class="breadcome-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcome-list">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="breadcomb-wp">
                    <div class="breadcomb-icon">
                      <i class="icon nalika-home"></i>
                    </div>
                    <div class="breadcomb-ctn">
                      <h2>Reservation List</h2>
                      <p>
                        List of
                        <span class="bread-ntd">Reservation</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-status mg-b-30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-status-wrap">
            <h4>List of Reservation</h4>
            <!-- Search By Date -->
            <form class="example" action="/admin/reservation" method="POST">
              <input type="date" placeholder="Search by date.." name="search" />
              <input type="hidden" value="byDate" name="searchOption" />
              <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
              <button type="submit"><i class="fa fa-search">Search</i></button>
            </form>
            <br />
            <!-- Search By Email Id -->
            <form class="example" action="/admin/reservation" method="POST">
              <input
                type="text"
                placeholder="Search by email id.."
                name="search"
              />
              <input type="hidden" value="byEmail" name="searchOption" />
              <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
              <button type="submit"><i class="fa fa-search">Search</i></button>
            </form>
            <br />
            <!-- Search By Name -->
            <form class="example" action="/admin/reservation" method="POST">
              <input type="text" placeholder="Search by name.." name="search" />
              <input type="hidden" value="byName" name="searchOption" />
              <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
              <button type="submit"><i class="fa fa-search">Search</i></button>
            </form>
            <!-- <div class="add-product">
              <a href="#">Add Schedule</a>
            </div> -->

            <table>
              <tr>
                <th>Id</th>
                <th>Number of Seats</th>
                <th>Seats</th>
                <th>Total Amount</th>
                <th>Booking Date</th>
                <th>Booked By</th>
                <th>Name</th>
                <th>Ticket Number</th>
                <th>Schedule Id</th>
              </tr>
              <% for(let i = 0; i< reservation.length; i++) {%>
              <tr>
                <td><%=reservation[i].id%></td>
                <td><%=reservation[i].numberOfSeats%></td>
                <td><%=reservation[i].seats%></td>
                <td><%=reservation[i].totalAmount%></td>
                <td><%=reservation[i].bookingDate%></td>
                <td><%=reservation[i].bookedBy%></td>
                <td><%=reservation[i].name%></td>
                <td><%=reservation[i].ticketNumber%></td>
                <td><%=reservation[i].scheduleId%></td>
              </tr>
              <%}%>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copy-right">
            <p>
              Copyright © 2018
              <a href="https://colorlib.com/wp/templates/">Colorlib</a> All
              rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/admin/adminTail.ejs')%>
