<%- include('../includes/user/userHead.ejs')%>
  <body>
    <div id="booking" class="section">
      <div class="section-center">
        <%schedule.forEach((element, index, array ) => { %>
          <div class="container">
            <div class="row">
              <div class="booking-form">
                <form action="/bookTicket" method="POST" novalidate>             
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <span class="form-label">Bus Name</span>
                        <span class="form-label"><%=element.bus.busName%></span>
                        <input type="hidden" name="scheduleId" value="<%= element.id%>"/>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <span class="form-label">Departure Time</span>
                        <span class="form-label"><%=element.departureTime%></span>  
                        <input type="hidden" name="bookingDate" value="<%=element.date%>" >                   
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <span class="form-label">Est. Arrival Time</span>
                        <span class="form-label"><%= element.estimatedArrivalTime %></span>                   
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="form-group">
                        <span class="form-label">Price</span>
                        <span class="form-label">Npr. <%= element.price%></span>  
                        <input type="hidden" name="price" value="<%= element.price%>"> 
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <span class="form-label">Reserved Seats: </span>  
                        <span class="form-label"><%= seats %></span>  
                        <input type="hidden" name="seatsAvailable" value="<%=seats%>">
                      </div>
                    </div>      
                  </div>
                   <!-- For seat purpose -->       
                   <!-- <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label" >Seat: </span>
                        <input type="text" name="seats" placeholder="space after each entry"/>
                      </div>
                    </div>   
                  </div>       -->
                  <!-- for date purpose -->
                  <!-- <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="form-label">Date: </span>
                        <input type="date" name="bookingDate" />
                      </div>
                    </div>   
                  </div>   -->
                  <!-- partial:index.partial.html -->
                  <div class="plane">
                    <div class="cockpit">
                      <h1>Please select a seat</h1>
                    </div>
                    <ol class="cabin fuselage">
                      <li class="row row--1">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" name="A1" id="A1" value="A1"/>
                            <label for="A1">A1</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" name="B1" id="B1" value="B1"/>
                            <label for="B1">B1</label>
                          </li>
                          
                          <li class="seat">
                            <input type="checkbox" name="C1" id="C1" value="C1"/>
                            <label for="C1">C1</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" name="D1" id="D1" value="D1"/>
                            <label for="D1">D1</label>
                          </li>
                          
                        </ol>
                      </li>

                     <li class="row row--2">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="A2" name="A2" id="A2" value="A2"/>
                            <label for="A2">A2</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="B2" name="B2" id="B2" value="B2" />
                            <label for="B2">B2</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="C2" name="C2" id="C2" value="C2" />
                            <label for="C2">C2</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="D2" name="D2" id="D2" value="D2"/>
                            <label for="D2">D2</label>
                          </li>
                         
                        </ol>
                      </li>

                      <li class="row row--2">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="A3" name="A3" id="A3" value="A3"/>
                            <label for="A3">A3</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="B3" name="B3" id="B3" value="B3" />
                            <label for="B3">B3</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="C3" name="C3" id="C3" value="C3" />
                            <label for="C3">C3</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="D3" name="D3" id="D3" value="D3"/>
                            <label for="D3">D3</label>
                          </li> 
                        </ol>
                      </li>

                      <li class="row row--2">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="A4" name="A4" id="A4" value="A4"/>
                            <label for="A4">A4</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="B4" name="B4" id="B4" value="B4" />
                            <label for="B4">B4</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="C4" name="C4" id="C4" value="C4" />
                            <label for="C4">C4</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="D4" name="D4" id="D4" value="D4"/>
                            <label for="D4">D4</label>
                          </li>                 
                        </ol>
                      </li>
                      <li class="row row--2">
                        <ol class="seats" type="A">
                          <li class="seat">
                            <input type="checkbox" id="A5" name="A5" id="A5" value="A5"/>
                            <label for="A5">A5</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="B5" name="B5" id="B5" value="B5" />
                            <label for="B5">B5</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="C5" name="C5" id="C5" value="C5" />
                            <label for="C5">C5</label>
                          </li>
                          <li class="seat">
                            <input type="checkbox" id="D5" name="D5" id="D5" value="D5"/>
                            <label for="D5">D5</label>
                          </li>
                        </ol>  
                    </ol>
                     <!-- partial -->
                  </div>
                  <center><h3 style="color: red;"><%=errorMessage%></h3></center> 
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-btn">
                        <button class="submit-btn" type="submit">Book</button>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                </form>
              </div>
            </div>
          </div>
          <br>
       <% })%>   
      
      </div>
    </div>
  </body>
  <script>
    function func(element, value) {
      seats.forEach(element => {
        
      });
    }
  </script>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
