
<!-- This is the page where all the search related bus as per schedule is displayed -->
<%- include('../includes/user/userHead.ejs')%>

  <body>
    <%- include('../includes/user/navigator.ejs')%>
    <div id="booking" class="section">
      <div class="section-center">
        <%schedule.forEach((element, index, array ) => { %>
          <div class="container">
            <div class="row">
              <div class="booking-form">
                <form action="/booking" method="POST" novalidate>             
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <span class="form-label">Bus</span>
                        <span class="form-label"><%=element.bus.busName%></span>
                        <!-- Hidden schedule id -->
                        <input type="hidden" name="scheduleId" value="<%= element.id%>"/>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <span class="form-label">Departure Date</span>
                        <span class="form-label"><%=element.date%></span>                     
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <span class="form-label">Departure Time</span>
                        <span class="form-label"><%=element.departureTime%></span>                     
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <span class="form-label"> Est. Arrival Time</span>
                        <span class="form-label"><%= element.estimatedArrivalTime %></span>                   
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <span class="form-label">Price</span>
                        <span class="form-label">Npr. <%= element.price%></span>   
                      </div>
                    </div>
                         
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-btn">
                        <button class="submit-btn" type="submit">Book</button>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                </form>
              </div>
            </div>
          </div>
          <br>
       <% })%>   
       
      </div>
    </div>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
