
<!-- First page for search purpose -->
<%- include('../includes/user/userHead.ejs')%>

  <body>
    <%- include('../includes/user/navigator.ejs')%>
    <div id="booking" class="section">
      
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="booking-form">
              <form action="/" method="POST" novalidate>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <span class="form-label">From</span>
                      <select
                            name="from"
                            class="
                              form-control
                              pro-edt-select
                              form-control-primary
                            "
                          >
                            <option></option>
                            <%schedule.forEach((element, index, array) => { %>
                            <option><%= element.startingPoint %></option>
                            <%})%>
                          </select>
                      <!-- <input
                        class="form-control"
                        type="text"
                        name="from"
                        placeholder="City or airport"
                      /> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <span class="form-label">To</span>
                      <select
                            name="to"
                            class="
                              form-control
                              pro-edt-select
                              form-control-primary
                            "
                          >
                            <option></option>
                            <%schedule.forEach((element, index, array) => { %>
                            <option><%= element.destination %></option>
                            <%})%>
                          </select>
                     
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <span class="form-label">Date</span>
                      <input type="date" name="date">
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-btn">
                      <button class="submit-btn" type="submit">Search</button>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
              </form>
        
              <center><h4 style="color:red;"><%= error %></h4></center>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
