
    <!-- jquery
		============================================ -->
        <script src="/js_admin_panel/vendor/jquery-1.12.4.min.js"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="/js_admin_panel/bootstrap.min.js"></script>
        <!-- wow JS
            ============================================ -->
        <script src="/js_admin_panel/wow.min.js"></script>
        <!-- price-slider JS
            ============================================ -->
        <script src="/js_admin_panel/jquery-price-slider.js"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="/js_admin_panel/jquery.meanmenu.js"></script>
        <!-- owl.carousel JS
            ============================================ -->
        <script src="/js_admin_panel/owl.carousel.min.js"></script>
        <!-- sticky JS
            ============================================ -->
        <script src="/js_admin_panel/jquery.sticky.js"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="/js_admin_panel/jquery.scrollUp.min.js"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="/js_admin_panel/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
        <!-- metisMenu JS
            ============================================ -->
        <script src="/js_admin_panel/metisMenu/metisMenu.min.js"></script>
        <script src="/js_admin_panel/metisMenu/metisMenu-active.js"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="/js_admin_panel/sparkline/jquery.sparkline.min.js"></script>
        <script src="/js_admin_panel/sparkline/jquery.charts-sparkline.js"></script>
        <!-- calendar JS
            ============================================ -->
        <script src="/js_admin_panel/calendar/moment.min.js"></script>
        <script src="/js_admin_panel/calendar/fullcalendar.min.js"></script>
        <script src="/js_admin_panel/calendar/fullcalendar-active.js"></script>
        <!-- float JS
            ============================================ -->
        <script src="/js_admin_panel/flot/jquery.flot.js"></script>
        <script src="/js_admin_panel/flot/jquery.flot.resize.js"></script>
        <script src="/js_admin_panel/flot/curvedLines.js"></script>
        <script src="/js_admin_panel/flot/flot-active.js"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="/js_admin_panel/plugins.js"></script>
        <!-- main JS
            ============================================ -->
        <script src="/js_admin_panel/main.js"></script>
      </body>
    </html>
    