<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= user %></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- favicon
		============================================ -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="img_admin_panel/favicon.ico"
    />
    <!-- Google Fonts
		============================================ -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/bootstrap.min.css" />
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/font-awesome.min.css" />
    <!-- nalika Icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/nalika-icon.css" />
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/owl.carousel.css" />
    <link rel="stylesheet" href="/css_panel/owl.theme.css" />
    <link rel="stylesheet" href="/css_panel/owl.transitions.css" />
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/animate.css" />
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/normalize.css" />
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/meanmenu.min.css" />
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/main.css" />
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/morrisjs/morris.css" />
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link
      rel="stylesheet"
      href="/css_panel/scrollbar/jquery.mCustomScrollbar.min.css"
    />
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/metisMenu/metisMenu.min.css" />
    <link rel="stylesheet" href="/css_panel/metisMenu/metisMenu-vertical.css" />
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/calendar/fullcalendar.min.css" />
    <link
      rel="stylesheet"
      href="/css_panel/calendar/fullcalendar.print.min.css"
    />
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style_admin_panel.css" />
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css_panel/responsive.css" />
    <!-- modernizr JS
		============================================ -->
    <script src="/js_admin_panel/vendor/modernizr-2.8.3.min.js"></script>
    <!-- search bar -->
    <style>
      body {
        font-family: Arial;
      }

      * {
        box-sizing: border-box;
      }

      form.example input[type='text'] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
      }

      form.example button {
        float: left;
        width: 20%;
        padding: 8px;
        background: #2196f3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }

      form.example button:hover {
        background: #0b7dda;
      }

      form.example::after {
        content: '';
        clear: both;
        display: table;
      }
    </style>
    <!-- end of search bar -->
  </head>
  <body>
    <div class="left-sidebar-pro">
      <nav id="sidebar" class="">
        <!-- <div class="sidebar-header">
          <a href="index.html"
            ><img class="main-logo" src="img_admin_panel/logo/logo.png" alt=""
          /></a>
          <strong><img src="img_admin_panel/logo/logosn.png" alt="" /></strong>
        </div> -->
        <!-- <div class="nalika-profile">
          <div class="profile-dtl">
            <a href="#"
              ><img src="img_admin_panel/notification/4.jpg" alt=""
            /></a>
            <h2>Pema <span class="min-dtn">Ngodup</span></h2>
          </div>
          <div class="profile-social-dtl">
            <ul class="dtl-social">
              <li>
                <a href="#"><i class="icon nalika-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon nalika-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon nalika-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div> -->
        <br />
        <br /><br />
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
          <nav class="sidebar-nav left-sidebar-menu-pro">
            <ul class="metismenu" id="menu1">
              <%if(userCheck == 'admin'){%>
              <li class="active">
                <a class="has-arrow" href="/admin/dashboard">
                  <i class="icon nalika-home icon-wrap"></i>
                  <span class="mini-click-non">Features</span>
                </a>
                <ul class="submenu-angle" aria-expanded="true">
                  <li>
                    <a title="Bus List" href="/admin/list-bus"
                      ><span class="mini-sub-pro">Schedule List</span></a
                    >
                  </li>
                  <li>
                    <a title="Add Bus" href="/admin/add-bus"
                      ><span class="mini-sub-pro">Add Bus</span></a
                    >
                  </li>

                  <li>
                    <a title="Bus Driver" href="/admin/add-schedule"
                      ><span class="mini-sub-pro">Add Schedule</span></a
                    >
                  </li>
                  <li>
                    <a title="Bus Driver" href="/admin/reservation"
                      ><span class="mini-sub-pro">List Reservation</span></a
                    >
                  </li>
                </ul>
              </li>
              <%}%>
              <li id="removable">
                <a class="has-arrow" href="#" aria-expanded="false"
                  ><i class="icon nalika-new-file icon-wrap"></i>
                  <span class="mini-click-non">Pages</span></a
                >
                <ul class="submenu-angle" aria-expanded="false">
                  <%if(userCheck != 'admin'){%>
                  <li>
                    <a title="Login" href="/"
                      ><span class="mini-sub-pro">Homepage</span></a
                    >
                  </li>
                  <%}%>
                  <li>
                    <a title="Login" href="/auth/logout"
                      ><span class="mini-sub-pro">Logout</span></a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </nav>
    </div>
  </body>
</html>
