<%if(userCheck == 'admin'){%>
<li>
  <a data-toggle="collapse" data-target="#Charts"
    >Features
    <span class="admin-project-icon nalika-icon nalika-down-arrow"></span
  ></a>
  <ul class="collapse dropdown-header-top">
    <li><a href="/admin/list-bus">List Schedule</a></li>
    <li><a href="/admin/add-bus">Add Bus</a></li>
    <li><a href="/admin/add-schedule">Add Schedule</a></li>
    <li><a href="/admin/reservation">List Reservation</a></li>
  </ul>
</li>
<%}%>
<li>
  <a data-toggle="collapse" data-target="#Pagemob" href="#"
    >Pages <span class="admin-project-icon nalika-icon nalika-down-arrow"></span
  ></a>
  <ul id="Pagemob" class="collapse dropdown-header-top">
    <%if(userCheck != 'admin'){%>
    <li><a href="/">Homepage</a></li>
    <%}%>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</li>
